<form method="post" action="{{ path('wild_commentDelete', {'id': comment.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce commentaire ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('supprimer' ~ comment.id) }}">
    <button class="btn btn-danger mb-3">Supprimer</button>
</form>
