{% extends 'base.html.twig' %}

{% block title %}Comments index{% endblock %}

{% block body %}
    <h1>Comment index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Commentaire</th>
            <th>Note</th>
        </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.comment }}</td>
                <td>{{ comment.rate }}</td>
                <td>
                    <a href="{{ path('comment_show', {'id' : comment.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">pas de commentaires</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
