{% extends 'base.html.twig' %}

{% block title %}Actor{% endblock %}

{% block body %}
    <h2><strong>Acteur :</strong></h2>
    <h1>{{ actor.name }}</h1>
    <h4>Séries associées :</h4>
    <ul>
        {% for program in actor.programs %}

            <li><a href="{{ path('wild_show_program') ~ "/" ~ program.title|lower|replace({" ": "-"}) }}">{{ program.title }}</a></li>
            {% else %}
                <li>Aucune série pour cet acteur</li>
        {% endfor %}
    </ul>





{% endblock %}