$theme-colors: (
        "primary": #388E3C,
        "secondary": #CDDC39
);

body {
    background-color: #CDDC39;
}
.login {
    margin-left: 400px;
}

.logout {
    margin-left: 20px;
}

@import "~bootstrap/scss/bootstrap";
