<!-- Footer -->
<footer class="page-footer font-small bg-primary pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase text-white">WILD SERIES</h5>
                <p class="text-white">40, Boulevard du Général de Gaulle</br>
                69600 OULLINS</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3 text-white">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase text-white">{{ 'Categories'|trans }}</h5>

                <ul class="list-unstyled">
                    <li>
                        <a class="text-white" href="wild/category/comedie">Comedie</a>
                    </li>
                    <li>
                        <a class="text-white" href="wild/category/horreur">Horreur</a>
                    </li>
                    <li>
                        <a class="text-white" href="wild/category/drame">Drame</a>
                    </li>
                    <li>
                        <a class="text-white" href="wild/category/jeunesse">Jeunesse</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase text-white">Retrouvez-nous</h5>

                <div class="list-unstyled mt-5">

                        <a class="mr-3" href="#!"><img src="/images/facebook.png"></a>

                        <a class="mr-3" href="#!"><img src="/images/linkedin.png"></a>

                        <a class="mr-3" href="#!"><img src="/images/instagram.png"></a>

                        <a href="#!"><img src="/images/twitter.png"></a>

                </div>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-white">© 2020 Copyright :
        <a class="text-white" href="https://mdbootstrap.com/education/bootstrap/"> Philippe PERRIN</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->