<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="#">Wild Series</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Comedie</a>
                    <a class="dropdown-item" href="/wild">Horreur</a>
                    <a class="dropdown-item" href="#">Drame</a>
                    <a class="dropdown-item" href="#">Jeunesse</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Acteurs
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Jojo lapin</a>
                    <a class="dropdown-item" href="#">Show show lapine</a>
                    <a class="dropdown-item" href="#">Rocco siffredo</a>

                </div>
            </li>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/wild">Mes Favoris</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Deconnexion</a>
            </li>
        </ul>
    </div>
</nav>